 
body { 
    font-family: Arial;
     background-color: #f4f6f7;
     display: flex; 
     justify-content: center; 
     align-items: center; 
     height: 100vh; 
    }
form { 
    background: white; 
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px #ccc; 
    width: 450px; 
}
label { 
    display: block;
    margin-top: 10px; 
    font-weight: bold;
 }
input, textarea, select { 
    width: 100%; 
    padding: 8px; 
    margin-top: 5px; 
    border: 1px solid #aaa; 
    border-radius: 5px;
 }
img { 
    width: 80px;
    height: 80px; 
    display: block; 
    margin: 10px auto; 
    border-radius: 5px; 
    object-fit: cover; }
button { 
    margin-top: 15px; 
    width: 100%; 
    padding: 10px; 
    background: #3498db; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
a { 
    display: block; 
    text-align: center; 
    margin-top: 10px;
     color: #2ecc71; text-decoration: none; 
    }
